{% extends 'base.html.twig' %}

{% block title %}ajouter une origine{% endblock %}

{% block body %}
    <div>
        <h3 class="fw-bold fs-2" style="color:#1B3168 ; margin-left: 5%; margin-top: 5%;">Administration</h3>
    </div>
    <div class="container mt-5">
        {{ include('navbarAdmin.html.twig') }}  
        <div class="bg-white rounded-lg p-5">
            <h1 class="fw-bold fs-3 mb-5">Ajouter une origine</h1>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control rounded'}}) }}
                    </div>
            </div>
    <div class="d-flex mt-4">
        <a href="{{ path('app_origin_index') }}" class="btn" style="background-color: #F6F6F6;">< Retour à la liste</a>
        <div class="btn ms-5" style="background-color: #F6F6F6;">{{ form_row(form.submit) }}</div>
         {{ form_end(form) }}
    </div>
{% endblock %}
