{% extends 'base.html.twig' %}

{% block title %}Skill index{% endblock %}

{% block body %}
    <h1>Skill index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Matière</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr>
                <td>{{ skill.name }}</td>
                 <td>{{ skill.getCourseId().name }}</td>
                <td>
                    <a href="{{ path('app_skill_edit', {'id': skill.id}) }}">edit</a>
                      {{ include('skill/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_skill_new') }}">Create new</a>
{% endblock %}
