        <ul class="list-unstyled" style="font-family: 'Noto Sans', sans-serif; font-size: 25px;">
            <li class="d-inline pt-2 ps-3 pe-3 pb-1" style="background-color: #1B3168; margin-right: 2%; border-top-left-radius: 8%; border-top-right-radius: 8%;">
                <a href="{{ path('app_user_index') }}" class="text-white">Contributeur</a>
            </li>
            <li class="d-inline pt-2 ps-3 pe-3 pb-1" style="background-color: #1B3168; margin-right: 2%;border-top-left-radius: 8%; border-top-right-radius: 8%;">
                <a href="#" class="text-white">Exercices</a>
            </li>
            <li class="d-inline pt-2 ps-3 pe-3 pb-1" style="background-color: #1B3168; margin-right: 2%; border-top-left-radius: 8%; border-top-right-radius: 8%;">
                <a href="{{ path('app_course_index') }}" class="text-white">Matières</a>
            </li>
            <li class="d-inline pt-2 ps-3 pe-3 pb-1" style="background-color: #1B3168; margin-right: 2%; border-top-left-radius: 8%; border-top-right-radius: 8%;">
                <a href="{{ path('app_classroom_index') }}" class="text-white">Classes</a>
            </li>
            <li class="d-inline pt-2 ps-3 pe-3 pb-1" style="background-color: #1B3168; margin-right: 2%; border-top-left-radius: 8%; border-top-right-radius: 8%;">
                <a href="{{ path('app_thematic_index') }}" class="text-white">Thématiques</a>
            </li>
            <li class="d-inline pt-2 ps-3 pe-3 pb-1" style="background-color: #1B3168; margin-right: 2%; border-top-left-radius: 8%; border-top-right-radius: 8%;">
                <a href="{{ path('app_skill_index') }}" class="text-white">Compétences</a>
            </li>
            <li class="d-inline pt-2 ps-3 pe-3 pb-1" style="background-color: #1B3168; margin-right: 2%; border-top-left-radius: 8%; border-top-right-radius: 8%;">
                <a href="{{ path('app_origin_index') }}" class="text-white">Origines</a>
            </li>
        </ul>   