{% extends 'base.html.twig' %}

{% block title %}Modifier une classe{% endblock %}

{% block body %}
    <div>
        <h3 class="fw-bold fs-2 pb-5" style="color:#1B3168 ; margin-left: 5%; margin-top: 5%;">Administration</h3>
    </div>
    <div style="margin-left: 5%">
        {{ include('navbarAdmin.html.twig') }} 
    </div>
    <div class="bg-white rounded-lg mx-auto" style="width : 90%;">
        <div class="align-items-center mb-3">
            <h1 class="fw-bold ms-5 pt-5 pb-5">Modifier une classe</h1>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6 ms-5" style="width : 40%;">
                    <div class="mb-4">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control rounded'}}) }}
                    </div>
                    <div class="d-flex pb-5 ">
                        <a href="{{ path('app_classroom_index') }}" class="btn" style="background-color: #F6F6F6;">< Retour a la liste</a>
                        <div class="btn ms-5" style="background-color: #F6F6F6;">{{ form_row(form.submit) }}</div>
                    </div>
                {{ form_end(form) }}


        </div>
    </div>
{% endblock %}
