{{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('app_user_index') }}" class="btn btn-light"> < Retour à la liste</a>
    <button class="btn btn-light">{{ button_label|default('Enregister') }}</button>
{{ form_end(form) }}