{% extends 'base.html.twig' %}

{% block title %}Modifier contributeur{% endblock %}

{% block body %}
   
    <div class="bg-white rounded-lg  mt-5 mx-auto" style="width : 90%;">
        <div class="align-items-center mb-3">
            <h1 class="fw-bold mt-5">Modifier un contributeur</h1>
            {{ form_start(form) }}

            <div class="row">
                <div class="col-md-6 ms-5" style="width : 40%;">
                    <div class="mb-3">
                        {{ form_label(form.last_name) }}
                        {{ form_widget(form.last_name, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.first_name) }}
                        {{ form_widget(form.first_name, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.password) }}
                        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="col-md-6 ms-5" style="width : 40%;">
                    <div class="mb-3">
                        {{ form_label(form.roles) }}
                        {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <a href="{{ path('app_user_index') }}" class="btn btn-light"> < Retour à la liste</a>
                <button type="submit" class="btn btn-light">{{ button_label|default('Enregister') }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}
