{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <div class="m-4">
        <h1 class="font-bold text-3xl pb-6">Gestion des contributeurs</h1>
        <p>Rechercher un contributeur par nom, prénom ou email :</p>
        <a class="btn btn-light p-3">Rechercher</a>
        <a href="{{ path('app_user_new') }}" class="btn btn-success p-3">Ajouter +</a>
        <div class="bg-white rounded-lg p-8">
            <div class="relative overflow-x-auto sm:rounded-lg">
                <ul class="list-unstyled">
                    <li class="d-inline me-3" style="background-color: #1B3168; border-top-left-radius: 5px; border-top-right-radius: 5px;">
                        <a href="{{ path('app_user_index') }}" class="text-white">Contributeur</a>
                    </li>
                    <li class="d-inline me-3" style="background-color: #1B3168;  border-top-left-radius: 5px; border-top-right-radius: 5px;">
                        <a href="#" class="text-white">Exercices</a>
                    </li>
                    <li class="d-inline me-3" style="background-color: #1B3168;  border-top-left-radius: 5px; border-top-right-radius: 5px;">
                        <a href="#" class="text-white">Matières</a>
                    </li>
                    <li class="d-inline me-3" style="background-color: #1B3168;  border-top-left-radius: 5px; border-top-right-radius: 5px;">
                        <a href="#" class="text-white">Classes</a>
                    </li>
                    <li class="d-inline me-3" style="background-color: #1B3168;  border-top-left-radius: 5px; border-top-right-radius: 5px;">
                        <a href="#" class="text-white">Thématiques</a>
                    </li>
                    <li class="d-inline me-3" style="background-color: #1B3168;  border-top-left-radius: 5px; border-top-right-radius: 5px;">
                        <a href="#" class="text-white">Compétences</a>
                    </li>
                    <li class="d-inline me-3" style="background-color: #1B3168;  border-top-left-radius: 5px; border-top-right-radius: 5px;">
                        <a href="#" class="text-white" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">Origines</a>
                    </li>
                </ul>   
                <table class="table tableViewContri w-full text-sm text-left rtl:text-right text-gray-500  dark:text-gray-400 border border-gray-300">
                    <thead class="bg-gray-100 ">
                        <tr class="bg-secondary!important">
                            <th scope="col" class="px-6 py-3">Nom</th>
                            <th scope="col" class="px-6 py-3">Prénom</th>
                            <th scope="col" class="px-6 py-3">Roles</th>
                            <th scope="col" class="px-6 py-3">Email</th>
                            <th scope="col" class="px-6 py-3">Actions</th>
                        </tr>
                    </thead>
                    {% for user in users %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td scope="row" class="px-6 py-4 text-secondary">{{ user.lastName }}</td>
                            <td scope="row" class="px-6 py-4 text-secondary">{{ user.firstName }}</td>
                            <td scope="row" class="px-6 py-4 text-secondary">
                                {% if user.roles is defined and user.roles|json_encode == '["ROLE_TEACHER"]' %}
                                    Enseignant
                                {% elseif user.roles is defined and user.roles|json_encode == '["ROLE_STUDENT"]' %}
                                    Étudiant
                                {% elseif user.roles is defined and user.roles|json_encode == '["ADMIN"]' %}
                                    Admin
                                {% endif %}
                            </td>
                            <td scope="row" class="px-6 py-4 text-secondary">{{ user.email }}</td>
                            <td scope="row" class="px-6 py-4 text-secondary d-flex align-items-center" colspan="2">
                                <a href="{{ path('app_user_edit', {'id': user.id}) }}" class=""><img src="">Modifier</a>
                                {{ include('user/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
