{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Gestion des contributeurs</h1>
    <a href="{{ path('app_user_new') }}">Ajouter +</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Roles</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>
                    {% if user.roles is defined and user.roles|json_encode == '["ROLE_TEACHER"]' %}
                        Enseignant
                    {% elseif user.roles is defined and user.roles|json_encode == '["ROLE_STUDENT"]' %}
                        Étudiant
                    {% elseif user.roles is defined and user.roles|json_encode == '["ADMIN"]' %}
                        Admin
                    {% endif %}
                </td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}"><img src="">Modifier</a>
                    {{ include('user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
